<navbarheader></navbarheader>
<div data-ng-controller="DashboardController as Dashboard">
  <boxtitulo title="boxTitle"></boxtitulo>
  <div class="grid-info">
    <div class="container">
      <div class="row">

        <menuside></menuside>
        <div class="lista">
          <div class="col-sm-12 col-md-9 col-lg-9">

            <div class="row">
             <div class="col-md-12">
              <div class="titulo-sala">
                Dashboard
              </div>
              <div class="box-sala">

              </div>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>
</div>