<div class="lista">
	<div class="col-sm-12 col-md-9 col-lg-9" data-ng-controller="FecharBimestreController as FecharBimestre">
		<div class="row">
			<div class="col-md-12">
				<div class="titulo-sala">
					Fechar Bimestre
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8">
				<div class="well box-fechar-bimestre">
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<label>Professor</label>
								<input class="form-control" type="" value="Prof. Maria da Conceição" name="" readonly>
							</div>
							<div class="col-md-6">
								<label>C.P.F</label>
								<input class="form-control" type="" value="045.234.567-23" name="" readonly>
							</div>

						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Sala</label>
								<select  class="form-control">
									<option>Selecione...</option>
									<option>702 B</option>
									<option>703 A</option>
								</select>
							</div>
							<div class="col-md-6">
								<label>Bimestre</label>
								<select class="form-control">
									<option>Selecione...</option>
									<option>Primeiro</option>
									<option>Segundo</option>
									<option>Terceiro</option>
									<option>Quarto</option>
								</select>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<button class="btn btn-success btn-md btn-block" data-ng-click="FecharBimestre.enviarBimestre();">Enviar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
