<div class="lista">
	<div class="col-sm-12 col-md-9 col-lg-9" data-ng-controller="ListaPresencaController as ListaPresenca">
		<div class="row">
			<div class="col-md-12">
				<div class="titulo-sala">
					Salas
				</div>
				<div class="box-sala">
					<ul class="list-inline">
						<li>
							<button data-ng-click="ListaPresenca.listapresenca();" data-ng-disabled="ListaPresenca.click_sala" class="btn btn-info">702 B</button>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row" data-ng-if="ListaPresenca.acabou && ListaPresenca.click_sala">
			<div class="col-md-12">
				<div class="titulo-sala">
					Lista de Chamada
				</div>
			</div>

			<div class="col-md-offset-2 col-md-8">
				<div class="titulo-chamada">
					Alunos
				</div>
				<div class="box-presenca clearfix">
					<ul class="list-unstyled stack">
						<li>
							<div class="photo">
								<img data-ng-src="../../assets/images/{{ListaPresenca.aluno.foto}}">
							</div>
							<div class="name">{{ListaPresenca.aluno.nome}}</div>
						</li>
					</ul>
				</div>

				<div class="row">
					<ul class="list-inline">
						<li class="">
							<button data-ng-click="ListaPresenca.aluno_ausente();" class="btn btn-danger">Ausente</button>
						</li>
						<li class="pull-right">
							<button data-ng-click="ListaPresenca.aluno_presente();" class="btn btn-success">Presente</button>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row" data-ng-if="ListaPresenca.click_sala">
			<div class="col-md-12">
				<div class="titulo-chamada">
					Lista de Chamada
				</div>
				<div class="filtro">
					<label>Filtro:</label>
					<input data-ng-model="filtra_presenca" name="">
				</div>
				<div class="box-alunos-editar">
					<div class="lista-presenca-editar" data-ng-repeat="chamada in ListaPresenca.chamadas | filter:filtra_presenca">
						<div class="row">
							<div class="col-md-6 text-left">
								{{chamada.nome}}
							</div>
							<div class="col-md-6">
								<span data-ng-click="ListaPresenca.editar_presenca(this);" class="{{(chamada.status == 'presente' ? 'btn btn-success btn-xs' : 'btn btn-danger btn-xs')}}">{{chamada.status}}</span>
							</div>
						</div>
					</div>
				</div>

				<div class="btn-fechar">
					<button data-ng-if="ListaPresenca.acabou==false" class="btn btn-block btn-warning" data-ng-click="ListaPresenca.salvarpresenca();">Fechar Chamada</button>
				</div>
			</div>
		</div>
		<!-- modal -->
		<script type="text/ng-template" id="myModalContent.html">
			<div class="modal-header">
				<h3 class="modal-title" id="modal-title">Confirmação</h3>
			</div>
			<div class="modal-body" id="modal-body">
				Deseja realmente salvar e enviar a chamada?
			</div>
			<div class="modal-footer">
				<button class="btn btn-success" type="button" data-ng-click="ListaPresenca.alert_ok()">Sim!</button>
				<button class="btn btn-warning" type="button" data-ng-click="ListaPresenca.alert_failed()">Cancelar</button>
			</div>
		</script>
	</div>
</div>