<div class="lista">
 <div class="col-sm-12 col-md-9 col-lg-9" data-ng-controller="PlanoEscolarController as PlanoEscolar">
  <div class="row">
    <div class="col-md-12">
      <div class="titulo-sala">
        Planos Escolar
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="list-group" >
        <li data-ng-repeat="materia in PlanoEscolar.materias" class="list-group-item">
          <a data-ng-click="PlanoEscolar.materia_checked(this);" class="{{(materia.status == 'fa fa-check-square-o' ? 'list-okay' : 'list-none')}}">
            <div class="row">
              <div class="col-md-8">
                {{materia.planos}}
              </div>
              <div class="col-md-4 text-right">
                <i class="{{materia.status == 'fa fa-check-square-o' ? 'fa fa-check-square-o' : 'fa fa-square-o'}}"></i>
              </div>
            </div>
          </a>
        </li>
      </div>
    </div>
  </div>


</div>
